---
import Button from '../components/Button.web.js'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Button: Web Components</title>
	</head>
	<body>
		<h1>Button</h1>
		<Button>click me</Button>
	</body>
</html>
